.box

  .box-header

    .pull-right


    .box-tools.pull-right
      = link_to account_contact_path(current_account, @contact), method: :delete, class: "btn btn-box-tool", title: "Delete contact", data: {confirm: "Confirm destroy contact?"} do
        %i.fa.fa-trash

    %p
      %b Name:
      = @contact.name
    %p
      %b Email:
      = @contact.email
    %p
      %b Identifier:
      = @contact.identifier

  .box-body.no-padding

    %ul.timeline
      - @contact.tracks.each do |track|
        %li
          %i.fa.fa-eye.bg-blue
          .timeline-item
            %span.time
              %i.fa.fa-clock-o
              = l(track.created_at, format: :short)
            %h3.timeline-header
              %a{href: track.page}= track.page_title
            .timeline-body
              = track.page
        / END timeline item
