.box

  .box-header

    .pull-right


    .box-tools.pull-right
      = link_to account_contact_path(current_account, @contact), method: :delete, class: "btn btn-box-tool", title: "Delete contact", data: {confirm: "Confirm destroy contact?"} do
        %i.fa.fa-trash

    %p
      %b Name:
      = @contact.name
    %p
      %b Email:
      = @contact.email
    %p
      %b Identifier:
      = @contact.identifier

  .box-body.no-padding

    .col-md-6
      %h3 Tracks
      %ul.timeline
        - @contact.tracks.each do |track|
          %li
            %i.fa.fa-eye.bg-green
            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = l(track.created_at, format: :short)
              %h3.timeline-header
                %a{href: track.page}= track.page_title
              .timeline-body
                = track.page
          / END timeline item

    .col-md-6
      %h3 Messages
      %ul.timeline
        - @contact.messages.each do |message|
          %li
            %i.fa.fa-envelope-o.bg-blue
            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = l(message.created_at, format: :short)
              .timeline-body
                = message.body
          / END timeline item

